@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 500px) {
	.grid-cols-7 {
	  grid-template-columns: repeat(7, 1);
	  font-size: 0.75rem;
	}
  
	.grid-cols-7 button {
	  padding: 5px;
	  font-size: 0.75rem;
	}
  
	.min-width-50px {
	  min-width: 30px; /* 400px'den küçük ekranlar için butonlar küçülsün */
	}
  
	.w-full {
	  width: 100%; /* Butonlar küçük ekranlarda tam genişlikte olacak */
	}
  }

  #root {
	margin: 0;
	padding: 0;
	background-image: url('background.png'); /* Arka plan görseli */
	background-size: auto 100%; /* Görselin yüksekliğini 100% yapar, genişliği orantılı kalır */
	background-position: center; /* Arka planı merkezde sabitle */
	background-repeat: no-repeat;
	min-height: 100vh; /* Tüm ekran yüksekliği */
	position: relative; /* Overlay için gerekli */
}

